In [20]:
import json
import glob
import pandas as pd

# Find all results.json files
results_files = glob.glob("../logs/binary/*/version_*/results.json")

In [36]:
# List to hold all rows
rows = []

# Process each file
for file_path in results_files:
    version = file_path.split("/")[-2].split("_")[-1]  # Extract 'version_X'
    fusion = file_path.split("/")[-3]  # Extract 'fusion'
    with open(file_path, "r") as f:
        data = json.load(f)

    # Flatten the structure: (version, split, metric, value)
    for split in ["train", "val", "test"]:
        if split in data:
            row = {"fusion": fusion, "version": version, "split": split}
            row.update(data[split])
            rows.append(row)

# Create DataFrame
df = pd.DataFrame(rows)

# Split DataFrame
train = df[df["split"] == "train"].drop(columns=["split"])
dev = df[df["split"] == "val"].drop(columns=["split"])
test = df[df["split"] == "test"].drop(columns=["split"])

# Sorting: Best EER first
train = train.sort_values(by="auc", ascending=False).reset_index(drop=True)
dev = dev.sort_values(by="auc", ascending=False).reset_index(drop=True)
test = test.sort_values(by="auc", ascending=False).reset_index(drop=True)

In [37]:
maximize_metrics = ["acc", "ap", "prec", "rec", "f1", "auc"]
minimize_metrics = ["loss"]

In [38]:
def highlight_best_per_column(s):
    if s.name in maximize_metrics:
        is_best = s == s.max()
    elif s.name in minimize_metrics:
        is_best = s == s.min()
    else:
        is_best = [False] * len(s)
    return [
        (
            "background-color: red"
            if v and (s.name == "auc" or s.name == "ap")
            else "background-color: green" if v else ""
        )
        for v in is_best
    ]

In [39]:
# Display with correct highlighting
print("Train results:")
display(train.style.apply(highlight_best_per_column, axis=0))

print("Dev results:")
display(dev.style.apply(highlight_best_per_column, axis=0))

print("Test results:")
display(test.style.apply(highlight_best_per_column, axis=0))

Train results:

Dev results:

Test results: