In [1]:
import json
import glob
import pandas as pd

# TRAIN_DATASET = "SWAN_DF"
TRAIN_DATASET = "DeepSpeak_v1_1"

# Find all results.json files
results_files = glob.glob(f"../logs/{TRAIN_DATASET}/binary/*/version_*/results/*.json")

In [2]:
# List to hold all rows
rows = []

# Process each file
for file_path in results_files:
    eval_dataset = file_path.split("/")[-1].split(".")[0]  # Extract 'eval_dataset'
    version = file_path.split("/")[-3].split("_")[-1]  # Extract 'version_X'
    fusion = file_path.split("/")[-4]  # Extract 'fusion'
    with open(file_path, "r") as f:
        data = json.load(f)

    # Flatten the structure: (version, split, metric, value)
    for split in ["train", "val", "test"]:
        if split in data:
            row = {"fusion": fusion, "version": version, "split": split, "dataset": eval_dataset}
            row.update(data[split])
            rows.append(row)

# Create DataFrame
df = pd.DataFrame(rows)
df = df.groupby(['dataset'])

ds_dfs = {}
for name, group in df:
    group = group.drop(columns=["dataset"])
    # Split DataFrame
    train = group[group["split"] == "train"].drop(columns=["split"])
    dev = group[group["split"] == "val"].drop(columns=["split"])
    test = group[group["split"] == "test"].drop(columns=["split"])

    # Sorting: Best EER first
    train = train.sort_values(by="auc", ascending=False).reset_index(drop=True)
    dev = dev.sort_values(by="auc", ascending=False).reset_index(drop=True)
    test = test.sort_values(by="auc", ascending=False).reset_index(drop=True)
    
    ds_dfs[name[0]] = {
        "train": train,
        "dev": dev,
        "test": test
    }

In [3]:
maximize_metrics = ["acc", "ap", "prec", "rec", "f1", "auc"]
minimize_metrics = ["loss"]

In [4]:
def highlight_best_per_column(s):
    if s.name in maximize_metrics:
        is_best = s == s.max()
    elif s.name in minimize_metrics:
        is_best = s == s.min()
    else:
        is_best = [False] * len(s)
    return [
        (
            "background-color: red"
            if v and (s.name == "auc" or s.name == "ap")
            else "background-color: green" if v else ""
        )
        for v in is_best
    ]

In [5]:
# Display DeepSpeak_v1_1
df_1 = ds_dfs["DeepSpeak_v1_1"]

print(f"Models trained on {TRAIN_DATASET}.")
print(f"Results on DeepSpeak_v1_1.")
print("-" * 50)

print("- Train:")
display(df_1['train'].style.apply(highlight_best_per_column, axis=0))

print("- Dev:")
display(df_1['dev'].style.apply(highlight_best_per_column, axis=0))

print("- Test:")
display(df_1['test'].style.apply(highlight_best_per_column, axis=0))

Models trained on DeepSpeak_v1_1.
Results on DeepSpeak_v1_1.
--------------------------------------------------
- Train:

- Dev:

- Test:

SWAN_DF results

In [6]:
# Display SWAN_DF
df_1 = ds_dfs["SWAN_DF"]

print(f"Models trained on {TRAIN_DATASET}.")
print(f"Results on SWAN_DF.")
print("-" * 50)

print("- Train:")
display(df_1['train'].style.apply(highlight_best_per_column, axis=0))

print("- Dev:")
display(df_1['dev'].style.apply(highlight_best_per_column, axis=0))

print("- Test:")
display(df_1['test'].style.apply(highlight_best_per_column, axis=0))

Models trained on DeepSpeak_v1_1.
Results on SWAN_DF.
--------------------------------------------------
- Train:

- Dev:

- Test: